%h4.text-center
  = t 'instructions.welcome', title: t('title')

%p
  = t("instructions.#{demo? ? 'demo' : 'production'}.what_you_see").html_safe

%p
  = t("instructions.#{demo? ? 'demo' : 'production'}.what_you_see_2").html_safe

- if demo?
  - measurement = Measurement.find_by_name('pm')
  - if measurement
    %p
      = link_to t("measurement.#{measurement.name}") + ' - ' + t('heatmap.last_day'),
                '#',
                class: "btn btn-primary btn-measurement measurement-button-24h",
                data: { id: measurement.id }

    %p
      = link_to t("measurement.#{measurement.name}") + ' - ' + t('heatmap.current'),
                '#',
                class: "btn btn-primary btn-measurement measurement-button",
                data: { id: measurement.id }

%p
  = t("instructions.#{demo? ? 'demo' : 'production'}.disclaimer").html_safe
