%h4.text-center
  = t 'instructions.welcome', title: t('title')

%p
  = t('instructions.what_you_see').html_safe

%p
  = t 'instructions.what_you_see_2'

- if @measurements.present?
  %h5= t('heatmap.last_day')
  %p
    - @measurements.each do |measurement|
      = link_to t("measurement.#{measurement.name}") + " [#{measurement.unit}]",
                '#',
                class: "btn btn-primary measurement-button-24h #{measurement.name == 'pm' ? '' : 'disabled'}",
                data: { id: measurement.id }

  %h5= t('heatmap.current')
  %p
    - @measurements.each do |measurement|
      = link_to t("measurement.#{measurement.name}") + " [#{measurement.unit}]",
                '#',
                class: "btn btn-primary measurement-button #{measurement.name == 'pm' ? '' : 'disabled'}",
                data: { id: measurement.id }

%p
  = t('instructions.disclaimer').html_safe
