.modal#sensor-info(tabindex="-1" role="dialog" aria-labelledby="sensor-info-label" data-show="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        %button.close(type="button" data-dismiss="modal" aria-label="Close")
          %span(aria-hidden="true") &times;
        %h4.modal-title#sensor-info-label
          = succeed ':' do
            = t 'sensors.name'
          = @sensor.name
          = surround '[',']' do
            = @sensor.id

      .modal-body
        %h4.text-center
          = succeed ':' do
            = t 'sensors.current_location'
          - if location = @sensor.current_location
            = succeed ',' do
              = location.latitude
              = location.latitude > 0 ? 'N' : 'S'
            = succeed (location.height ? ',' : '') do
              = location.longitude
              = location.longitude > 0 ? 'E' : 'W'
            - if location.height
              %span{ title: t('sensors.altitude_unit_tooltip') }
                = "#{location.height} m."
          - else
            = t 'sensors.no_location'

        .text-center
          .reading-chart#reading-chart-container

        - pm_available = @readings.any?{ |m, _| m.name.include?('pm') }
        - if pm_available && !demo?
          %p
          %p
            = link_to t('sensors.show_reference'),
                      '#',
                      class: 'btn btn-primary',
                      id: 'show-reference-button'

            #no-reference-error.alert.alert-danger.hidden= t('sensors.no_reference')

      .modal-footer
        %button.btn.btn-default(type="button" data-dismiss="modal")= t('close')

:javascript
  $(function () {
    $('#sensor-info').modal('toggle');
  });

- if @readings.present?
  :javascript
    $(function () {
      var yAxes = [];
      var readingSeries = [];
      #{
        pm_axis_index = -1
        @readings.map.with_index do |measurement, i|
          code = ""
          pm_reading = measurement[0].name.include?('pm')
          if !pm_reading || (pm_axis_index < 0)
            code += "yAxes[#{i}] = {
              title: {
                text: '#{I18n.t('measurement.' + (pm_reading ? 'pm' : measurement[0].name))} [#{measurement[0].unit}]',
                style: {
                  color: Highcharts.getOptions().colors[#{i}]
                }
              },
              labels: {
                style: {
                  color: Highcharts.getOptions().colors[#{i}]
                }
              },
              opposite: #{pm_reading ? 'false' : 'true'},
              showEmpty: false
            };\n"
            pm_axis_index = i if pm_reading
          end

          code += "readingSeries[#{i}] = {
            name: '#{I18n.t('measurement.' + measurement[0].name)}',
            data: #{measurement[1].map{ |r| [r.time.to_i, r.value.round(4)] }},
            yAxis: #{pm_reading ? pm_axis_index : i},
            tooltip: {
              valueSuffix: ' #{measurement[0].unit}'
            }
          };\n"
        end.join('')
      }

      $('#reading-chart-container').highcharts({
        title: {
          text: '#{I18n.t('sensors.chart_title', interval: @interval/3600)}',
          x: -20 //center
        },
        xAxis: {
          type: 'datetime',
          labels: {
            formatter: function() {
              return Highcharts.dateFormat('%H:%M', this.value*1000);
            },
          },
          plotLines: #{locations_to_plotlines(@locations)}
        },
        tooltip: {
          formatter: function () {
            return '<div class="tooltip">' + Highcharts.dateFormat('%e %b %H:%M:%S', this.x * 1000) + '<br/><b>' + Highcharts.numberFormat(this.y) + ' [' + this.series.tooltipOptions.valueSuffix + ']</b></div>';
          }
        },
        yAxis: yAxes,
        series: readingSeries
      });
    });
