%h4.text-center
  Sensor name: #{ @sensor.name}

%h4.text-center
  Sensor id: #{ @sensor.id }

%h4.text-center
  - @readings.each do |measurement, _|
    .reading-chart{ id: "#{measurement.name}-container" }

- @readings.each do |measurement, readings|
  :javascript
    $(function () {
      $('##{measurement.name}-container').highcharts({
        title: {
          text: '#{measurement.name}',
          x: -20 //center
        },
        xAxis: {
          type: 'datetime',
          labels: {
            formatter: function() {
              return Highcharts.dateFormat('%H:%M', this.value*1000);
            },
          }
        },
        yAxis: {
          title: {
            text: '[#{measurement.unit}]'
          },
          plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
          }]
        },
        tooltip: {
          formatter: function () {
            return '<div class="tooltip">' + Highcharts.dateFormat('%e %b %H:%M:%S', this.x * 1000) + '<br/><b>' + Highcharts.numberFormat(this.y) + ' [#{measurement.unit}]</b></div>';
          }
        },
        series: [{
          name: '#{measurement.name}',
          data: #{readings.map{ |r| [r.time.to_i, r.value.round(4)] }},
          showInLegend: false
        }]
      }, function(e) {
        setTimeout(function() {
          e.setSize($('##{measurement.name}-container').width(), $('##{measurement.name}-container').height());
        }, 1);
      });
    });
