%h4.text-center
  = t 'registration.title'

%p
  = t('registration.instruction')

%p
  = t('registration.geo')

#registration-form
  = simple_form_for @location, remote: true do |form|

    = form.input :latitude
    = form.input :longitude
    = form.input :height

    = form.simple_fields_for @location.sensor do |sensor_fields|

      = sensor_fields.input :token
      = sensor_fields.input :name

    = form.button :submit, t('registration.register')
