%header.navbar.navbar-fixed-top.navbar-default(role="navigation")
  .container-fluid
    .row
      .col-sm-4.top-left-panel
        %a.logo(href=root_path)
          = icon('cubes')
          = t('title')
        .btn-group.btn-group-xs.pull-right.navbar-btn
          = link_to 'EN', { locale: :en },
                    title: t('nav.to_en'),
                    data: { placement: 'bottom' },
                    class: "btn btn-default #{'active' if en?}"
          = link_to 'PL', { locale: :pl },
                    title: t('nav.to_pl'),
                    data: { placement: 'bottom' },
                    class: "btn btn-default #{'active' unless en?}"

      .col-sm-8.top-panel
        =yield :action_nav
