!!! 5
%html
  = render 'layouts/head'
  %body(data-dispatch=body_data_dispatch)
    = render 'layouts/navbar'

    #main.container-fluid
      .row
        #sidebar-left.col-sm-4.col-xs-12
          = render 'layouts/left_section'

        #content.col-sm-8.col-xs-12.full-content
          = yield
          #smog-map

    = render 'layouts/flash'

    .device-xs.visible-xs
    .device-sm.visible-sm
    .device-md.visible-md
    .device-lg.visible-lg

    :javascript
      console.log('INIT: setting current locale');
      I18n.locale = "#{I18n.locale}";
